[Unit]
Description=ATM Bitcoin Lightning Frontend
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dennytorresrbp
ExecStart=/home/dennytorresrbp/Desktop/atmDenny/simple-noteiro/start-frontend.sh
WorkingDirectory=/home/dennytorresrbp/Desktop/atmDenny/simple-noteiro
StandardOutput=journal
StandardError=journal
SyslogIdentifier=atm-frontend

[Install]
WantedBy=multi-user.target